* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

header {
    height: 92vh;
}

/* .banner {
    height: 100%;
    background-image: linear-gradient(rgba(222, 98, 98, 0.6), rgba(255, 184, 140, 0.39));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative; } */

.main-home{
    width: 100%;
    height: 100vh;
   
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-home .fit{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
} 
.welcome {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 45px 40px;
    position: absolute;
    top: 40%;
    left: 0;
}

.welcome h1 {
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.welcome p {
    font-size: 17px;
}

input[type=checkbox], .menu-icon {
    display: none;
}

.main-nav {
    width: 100%;
    background-color: #252424;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav ul {
    max-width: 1200px;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
}

.main-nav ul li {
    display: inline-block;
    width: 25%;
    padding: 15px;
}

.main-nav ul li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav ul li a:hover {
    color: #de6262;
}

.life, .quotes, .books {
    max-width: 1200px;
    margin: 60px auto;
}

 h2 {
    font-size: 35px;
    text-align: center;
    padding: 30px;
} 

h2::after {
    content: '';
    display: block;
    background-color: #de6262;
    height: 4px;
    width: 80px;
    margin: 15px auto;
}

.life-details {
    padding: 25px 15px;
    display: flex;
}

.life-details a {
    text-decoration: none;
    color: #de6262;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

.column {
    padding: 20px 40px;
}

.life-details img {
    width: 100%;
    padding: 8px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

/* .life-details p {
    line-height: 1.6em;
    letter-spacing: 0.5px;
} */

.imp-quotes {
    width: 90%;
    margin: 0 5%;
}

.imp-quotes blockquote {
    background-color: #fffefe;
    padding: 35px 25px;
    border: 1px solid #c9c9c9;
    box-shadow: 1px 1px 2px #c9c9c9;
    border-radius: 10px;
    margin: 30px 0;
    font-size: 17px;
    line-height: 1.7em;
}

.imp-quotes blockquote::before {
    content: '\201F';
    display: inline;
    color: #de6262;
    font-size: 55px;
    font-weight: bold;
    padding: 0 10px;
}

.books ul {
    max-width: 1200px;
    margin: 30px auto;
    white-space: nowrap;
}

.books li {
    display: inline-block;
    width: 33.33%;
    padding: 20px 45px;
    position: relative;
}

.books li:hover {
    top: -5px;
    left: -5px;
}

.books li img {
    width: 100%;
}

footer {
    background-color: #252424;
    color: #fff;
}

footer p {
    text-align: center;
    padding: 25px 10px;
}

/* Media query */

@media screen and (max-width: 900px) {

    .banner {
        display: flex;
        flex-direction: column-reverse;
    }
    .welcome {
        position: relative;
        top: initial;
        padding: 30px 35px;
    }

    .welcome h1 {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .welcome p {
        font-size: 17px;
        line-height: 1em;
    }

    .welcome p br {
        display: none;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(37, 36, 36, 0.95);
        padding: 25px 0;
        display: none;
    }

    .main-nav ul li {
        display: block;
        width: 100%;
        padding: 25px;
    } 

    .menu-icon {
        display: inline-block;
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 20px;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }

    #menu-icon:checked + .main-nav {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .welcome h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 28px;
        padding: 15px;
    }

    .life-details {
        flex-flow: column nowrap;
    }

    .column {
        padding: 20px 15px;
    }

    .left, .right {
        width: 100%;
    }

    .books li {
        display: block;
        text-align: center;
        width: 100%;
        padding: 20px 45px;
        position: static;
    }

    .books li img {
        width: 80%;
        padding: 8px;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
    }
}